.custom-button, input[type="submit"]{
    background-color: #94D2BD;
    border: solid 1px #94D2BD;
}

input[type="submit"]:hover{
    background-color: #74b49f;
    border: solid 1px #74b49f;
}
.custom-button:hover{
    background-color: #74b49f;
    border: solid 1px #74b49f;
}

a{
    color: #000;
}
a:hover{
    color: #000;
    text-decoration: none;
}
/* .custom-btn:active{
    background-color: #74b49f;
    border: solid 1px #74b49f;
} */