{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block main %}
{% if messages %}
{% for mensagem in messages %}
<div id="alert" class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ mensagem }}</strong>
</div>
{% endfor %}
{% endif %}
<div class="content mt-3">
    <div class="w-100">
        <img width=100% src="{% static 'img/home-dog.jpeg' %}">
    </div>

    <div class="mt-5 row row-cols-1 row-cols-md-3">
        {% for post in posts reversed %}
        <div class="col mb-4">
            <a href="pet-page/{{post.id}}">
                <div class="card">
                    <div style="width: 100%; height: 300px; position: relative; overflow: hidden;">
                        <img style="top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                    position: absolute;
                    width: 100%; height: 100%;" src="{{post.image.url}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{post.raca_animal}}, {{post.idade}}{% if post.idade == 1 %} ano{% else %} anos {% endif %}</h5>
                        <p class="card-text">{{post.descricao}}</p>
                        <p class="card-text"><i class="bi bi-geo-alt-fill"> </i>{{post.localizacao}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{post.created_at}}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}