{% extends 'base.html' %}
{% load static %}

{% block title %}
Área do Cliente
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/login.modules.css'%}">
<div class="main mt-5">
    <div class="text-center">
        <h1>Bem Vindo(a)!</h1>
    </div>
    <div class="w-100 mb-5 mt-5 d-flex justify-content-space-between">
        <div class="login mr-4 p-3 w-100">
            <div class="header mb-3">
                <h5>Minha conta</h5>
            </div>
            <form name="signin-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu username" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha" required>
                </div>
                <input class="btn btn-primary custom-btn" name="signin-form" type="submit" value="Login">
            </form>
        </div>
        <hr>
        <div class="signup ml-4 p-3 w-100">
            <div class="header mb-3">
                <h5>Junte-se a nós</h5>
            </div>
            <form name="signup-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username-signup">Username</label>
                    <input type="text" class="form-control" id="username-signup" name="username-signup"
                        placeholder="Digite seu username" required>
                </div>
                <div class="form-group">
                    <label for="email-signup">Email</label>
                    <input type="email" class="form-control" id="email-signup" name="email-signup"
                        placeholder="Digite seu email" required>
                </div>
                <div class="form-group">
                    <label for="password-signup">Senha</label>
                    <input type="password" class="form-control" id="password-signup" name="password-signup"
                        placeholder="Digite sua senha" required>
                </div>
                <div class="form-group">
                    <label for="password-confirm">Confirme sua senha</label>
                    <input type="password" class="form-control" id="password-confirm" name="password-confirm"
                        placeholder="Confirme sua senha" required>
                </div>
                <input class="btn btn-primary" name="signup-form" type="submit" value="Cadastrar-se">
            </form>
        </div>
    </div>
</div>
{% endblock %}