{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div style="border-radius: 8px; background-color: #F3F3F3; width: 100%; height: 100%;"
    class="d-flex justify-content-between my-5">
    <div style="width: 65%; position: relative; overflow: hidden;">
        <img style="top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
        position: absolute;
        width: 100%;" src="{{post.image.url}}" alt="">
    </div>
    <div style="width: 35%;" class="d-flex flex-column justify-content-between">
        <div class="p-3">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <div style="width: 40px; height: 40px; position: relative; overflow: hidden;">
                        <img style="top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        object-fit: cover;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;" src="{{post_owner_profile.profileimg.url}}" alt="">
                    </div>
                    <p class="mb-0 ml-1">{{post.user}}</p>
                </div>
                <div>
                    <i style="color: #FF3A3A; font-size: 20px;" class="bi bi-heart"></i>
                    <i style="color: #FF3A3A; font-size: 20px;" class="bi bi-heart-fill"></i>
                </div>
            </div>
            <div class="d-flex mt-2 justify-content-between">
                <p>{{post.raca_animal}}, {{post.idade}}</p>
                <div class="d-flex">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p>{{post.localizacao}}</p>
                </div>
            </div>
            <p style="resize: none" name="" id="" cols="30" rows="5" disabled>{{post.descricao}}</p>
            <div class="d-flex w-100 justify-content-end">
                <a class="btn btn-primary" href="">Tenho Interesse</a>
            </div>
        </div>
        <hr class="mt-2 mb-1 w-100" style="background-color: #ADADAD; height:2px;">
        <div class="p-3">
            <div>
                <h4>Comentários</h4>
                <div class="px-2" style="overflow-y: scroll; height: 200px;">
                    {% for comentario in comentarios %}
                    <div class="mt-2">
                        <div style="background-color: #E1E0E0; border-radius: 8px;"
                            class="comentario p-2 d-flex flex-column">
                            <div class="d-flex">
                                <img style="border-radius: 100%;" width="20px" height="20px"
                                    src="{{comentario.imagem_autor.url}}" alt="">
                                <p class="ml-1 mb-1">{{comentario.autor}}</p>
                            </div>
                            <p class="mb-1">{{comentario.conteudo}}</p>
                            <div class="d-flex w-100 justify-content-end">
                                <small>{{comentario.data_publicacao}}</small>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>Nenhum comentário ainda.</p>
                    {% endfor %}
                </div>
            </div>
            <div>
                <!-- Formulário de Comentário -->
                <form name="coment-post" class="px-2 py-2 w-100" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input class="form-control" type="text" name="conteudo" id="conteudo"
                        placeholder="Digite um comentário">
                    <!-- <textarea name="conteudo" placeholder="Digite seu comentário"></textarea> -->
                    <button type="submit" id="submitButton" style="display: none;"></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}