{% extends 'base.html' %}
{% load static %}

{% block title %}
Meu perfil
{% endblock %}

{% block main %}
<div class="mt-5 d-flex justify-content-center align-items-center flex-column header">
    <img src="{{user_profile.profileimg.url}}" width="100px" height="100px" alt="">
    <p>{{user_profile.user.username}}</p>
    <a href="settings" class="btn btn-primary">Editar perfil</a>
</div>

<div class="d-flex justify-content-between">
    <div>
        <a class="mr-2 active" href="profile">Meus posts</a>
        <a class="ml-2" href="#">Favoritos</a>
    </div>
    <div>
        <a href="upload">Novo post</a>
    </div>
</div>
<hr>
{% if posts_length == 0 %}
    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
        <h3>Nenhum post cadastrado</h3>
        <i style="font-size: 6em;" class="bi bi-emoji-frown"></i>
    </div>
    {% else %}
<div class="mt-5 row row-cols-1 row-cols-md-3">
    {% for post in posts reversed %}
    <div class="col mb-4">
        <div class="card">
            <img src="{{post.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{post.raca_animal}}, {{post.idade}}</h5>
                <p class="card-text">{{post.descricao}}</p>
                <p class="card-text"><i class="bi bi-geo-alt-fill"> </i>{{post.localizacao}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{post.created_at}}</small>
              </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}