{% extends 'base.html' %}
{% load static %}

{% block title %}
Editar Perfil
{% endblock %}

{% block main %}
<form class="my-3 p-5" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center content">
            <div style="width: 120px; height: 120px; position: relative; overflow: hidden;">
                <img class="mr-2" style="border-radius: 100%; top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
                position: absolute;
                width: 100%;
                height: 100%;" src="{{user_profile.profileimg.url}}" alt="" srcset="">
            </div>
            <div class="ml-2">
                <h4>Olá, {{user.username}}</h4>
            </div>
        </div>
        <div class="d-flex align-items-center edit-button">
            <button class="btn btn-danger" type="submit">Excluir</button>
        </div>
    </div>
    <div class="info mt-4">
        <div class="info-data mt-3">
            <label class="mb-0" for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite seu nome" value="{{user_profile.nome_usuario}}">
        </div>
        <div class="info-data mt-3">
            <label class="mb-0" for="sobrenome">Sobrenome</label>
            <input type="text" class="form-control" name="sobrenome" id="sobrenome" placeholder="Digite seu sobrenome" value="{{user_profile.sobrenome_usuario}}">
        </div>
        <div class="info-data mt-3">
            <label class="mb-0" for="cpf">CPF</label>
            <input type="text" class="form-control" name="cpf" id="cpf" placeholder="Digite seu cpf" value="{{user_profile.cpf}}">
        </div>
        <div class="info-data mt-3">
            <label class="mb-0" for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu email" value="{{user.email}}">
        </div>
        <div class="info-data mt-3">
            <label class="mb-0" for="image">Foto</label>
            <input type="file" class="form-control" name="image" id="image" value="">
        </div>
        <div class="info-data mt-3">
            <label class="mb-0" for="cep">CEP</label>
            <input type="text" class="form-control" name="cep" id="cep" placeholder="Digite seu cep" value="{{user_profile.cep}}">
        </div>
        <div class="info-data mt-3">
            <label class="mb-0" for="estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="estado" placeholder="Digite o estado que você mora" value="{{user_profile.estado}}">
        </div>
        <div class="info-data mt-3">
            <label class="mb-0" for="cidade">Cidade</label>
            <input type="text" class="form-control" name="cidade" id="cidade" placeholder="Digite a cidade que você mora" value="{{user_profile.cidade}}">
        </div>
        <div class="info-data mt-3">
            <label class="mb-0" for="rua">Rua</label>
            <input type="text" class="form-control" name="rua" id="rua" placeholder="Digite a rua que você mora" value="{{user_profile.rua}}">
        </div>
        <div class="info-data mt-3">
            <label class="mb-0" for="complemento">Complemento</label>
            <input type="text" class="form-control" name="complemento" id="complemento" placeholder="Complemento" value="{{user_profile.complemento}}">
        </div>
        <div class="info-data mt-3">
            <label class="mb-0" for="numero">Número</label>
            <input type="text" class="form-control" name="numero" id="numero" placeholder="Número" value="{{user_profile.numero}}">
        </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-secondary mr-1" href="profile">Cancelar</a>
        <button class="custom-button btn btn-primary ml-1" type="submit">Salvar</button>
    </div>
</form>
{% endblock %}